.contentContact{
    display: flex;
    align-items: center;
    width: 90%;
    margin-bottom: 10vh;
    .boxInfo {
        width: 35%;
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #BCED09;
        position: relative;
        left: 5vw;
        z-index: 2;
        color: #fff;
        overflow: hidden;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border: 2px solid #fff;
        text-align: center;
        .contentTitleBoxInfo{
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(255, 255, 255);
            h3{
                font-size: 2vw;
                font-weight: 400;
                text-transform: uppercase;
                color: #000;
            }
        }.contentInfo{
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            .info{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0 0 0 2vw;
                color: #000;
                i {
                    font-size: 1.5vw;
                    display: flex;
                    padding: 2vh 0;
                    text-align: center;
                    a{
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.25vw;
                        font-weight: 400;
                        padding: 0 1vw;
                        text-decoration: none;
                        color: #000;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
        .logoSocial{
            display: flex;
            // flex-direction: row;
            justify-content: center;
            a > i{
                font-size: 3vw;
                color: #000;
                padding: 0 2vh;
                &:hover{
                    color: #fff;
                    transition: 0.4s ease-in-out;
                }
            }
        }
    }
    .boxForm{
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        right: 5vw;
        padding: 0 0 0 11%;
        background: #000;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border: 2px solid #fff;
        form{
            width: 60%;
            display: flex;
            margin: 5vh 0;
            flex-direction: column;
            align-items: center;
            .input-group-text{
                background-color: #BCED09;
                border: none;
            }
            .areaZone > textarea{
                resize: none;
                height: 20vh;
            }
            .btnForm > input{
                padding: 1vh 5vw;
                background: #BCED09;
                color: #000;
                text-transform: uppercase;
                box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
                border-top: 1px solid rgba(255,255,255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                &:hover{
                    background: #000;
                    color: #BCED09;
                    border: 1px solid #BCED09;
                }
            }
            #not-email{
                display: none;
                position: absolute;
                top: 5px;
                color: #BCED09;
                right: 5px;
                transform-origin: 50% 50%;
                z-index: 2;
            }
            .form-message {
                margin-top: 10px;
                padding: 12px;
                opacity: 0;
                transition: 0.2s ease;
                color: #fff;
                border-radius: 4px;
                box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
            }
        }
    }    
}
@media screen and (min-width:350px) and (max-width: 767px){
    .contentContact{
        display: flex;
        flex-direction: column;
        .boxInfo{
            width: 100%;
            height: 275px;
            margin: 1vh auto;
            left: 0;
            .contentTitleBoxInfo{
                h3{
                    font-size: 20px;
                    padding: 0;
                }
            }
            .contentInfo > .info > i{
                font-size: 15px;
                a{
                    font-size: 15px;
                }
            }
            .logoSocial{
                padding-bottom: 2vh;
                a > i{
                    font-size: 30px;
                }
            }
        }
        .boxForm{
            width: 100%;
            right: 0;
            margin: 1vh auto;
            padding: 2vw;
            form{
                width: 100%;
                h3{
                    font-size: 7vw;
                    padding: 0;
                    text-align: center;
                }
            }
        }
    }
}

.error::placeholder{
    color: #BCED09;
}
@keyframes dongle {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(-10px, 0px);
    }
    20% {
        transform: translate(10px, 0px);
    }
    30% {
        transform: translate(-10px, 0px);
    }
    40% {
        transform: translate(10px, 0px);
    }
    50% {
        transform: translate(-10px, 0px);
    }
    60% {
        transform: translate(10px, 0px);
    }
    70% {
        transform: translate(-10px, 0px);
    }
    80% {
        transform: translate(10px, 0px);
    }
    90% {
        transform: translate(-10px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}