.containerAccueil{
    width: 100%;
    margin: 0;
    height: 100vh;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .contentH1{
        position: relative;
        top: 48%;
        height: 250px;
        background-color: #BCED09;
        display: flex;
        // flex-direction: column;
        align-items: center;
        h1{
            font-weight: 700;
            font-size: 12vw;
            letter-spacing: -15px;
            color: #000;
            text-transform: uppercase;
            margin-bottom: 0;
            animation: transitionTitreH1 2s;
        }
    }
    .contentH2{
        position: relative;
        top: 48%;
        background-color: #000;
        display: flex;
        align-items: center;
        h2{
            font-size: 5vw;
            text-transform: uppercase;
            color: #fff;
            position: relative;
            margin-bottom: 0;
            left: 10px;
            // transition-delay: 4s;
            animation: transitionTitreH2 2s;
        }
    }
    @keyframes transitionTitreH1 {
        from {
            opacity: 0;
            transform: translateY(-40px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes transitionTitreH2 {
        from {
            opacity: 0;
            transform: translateY(-300px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
}
@media screen and (min-width:350px) and (max-width: 767px){
    .containerAccueil > .contentH1 > h1{
        top: 45%;
        font-size: 25vw;
        font-weight: bold;
        letter-spacing: -5px;
    }
    .containerAccueil > .contentH2 > h2{
        position: relative;
        left: 5px;
    }
}
.containerAbout{
    width: 70%;
    margin: 7vh auto;
    #boxAbout{
        display: flex;
        align-items: center;
        .profilePicture{
            position: relative;
            left: 2vw;
            z-index: 1;
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
            border: 5px solid #BCED09;
            background-color: transparent;
            // border-radius: 5px;
            img{
                width: 300px;
                position: relative;
                top: 15px;
                // border-radius: 5px;
                left: 15px;
            }
        }
        .contentAbout{
            padding: 5vw 2vw 5vw 5vw;
            background: #000;
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.502);
            border-top: 2px solid rgba(255,255,255, 0.5);
            border-left: 2px solid rgba(255, 255, 255, 0.5);
            color: white;
            z-index: 0;
            position: relative;
            right: 2vw;
            // border-radius: 10px;
            h3{
                font-size: 3vw;
                font-weight: 400;
                margin: 0vh 0 10vh;
                text-align: center;
                background-color: #BCED09;
                padding: 5px ;
            }
            p{
                color: white;
                font-size: 17px;
                text-align: center;
            }
        }
    }
}
@media screen and (min-width:350px) and (max-width: 767px){
    .containerAbout{
        width: 100%;
        margin: 0;
        overflow: hidden;
        #boxAbout{
            display: flex;
            flex-direction: column;
            .profilePicture{
                left: 0;
                box-shadow: none;
                img{
                    width: 150px;
                }
            }
            .contentAbout{
                padding: 5vw;
                right: 0;
                border: none;
                margin: 2vh;
                box-shadow: none;
                h3{
                    font-size: 10vw;
                    margin: 5vh 0;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
}
.containerCV{
    width: 100%;
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
    a{
        width: 30%;
        margin: auto;
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 10vh;
        // display: inline-block;
        padding: 10px 20px;
        background: #BCED09;
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        border-radius: 10px;
        box-shadow: 10px 10px 55px rgba(0, 0, 0, 0.3);
        border-top: 1px solid rgba(255,255,255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        &:hover{
            background: #000;
            color: #BCED09;
            border: 1px solid #BCED09;
            transition: 0.4s ease-in-out;
        }
    }
    .boxCV{
        width: 100%;
        .cases{
            // height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            .case{
                width: 30%;
                height: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                .titleCase{
                    width: 90%;
                    height: 50px;
                    background: #000;
                    color: #BCED09;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                    h4{
                        margin: 0;
                    }
                }
                .contentCase{
                    width: 90%;
                    height: 250px;
                    padding-top: 25px;
                    background-color: #000;
                    color: #fff;
                    font-size: 17px;
                    span{
                        color: #BCED09;
                    }
                    ul{
                        padding: 0;
                    }
                    .skills > ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding-left: 30px;
                     li{
                        list-style-type: disc;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:350px) and (max-width: 767px){
    .containerCV{
        width: 90%;
        margin: auto;
        margin-top: 2vh;
        margin-bottom: 5vh;
        a{
            width: 50%;
            margin-bottom: 2vh auto;
            font-size: 10px;
        }
        .boxCV{
            width: 100%;
            .cases{
                display: flex;
                flex-wrap: wrap-reverse;
                .case{
                    width: 100%;
                    height: auto;
                    margin-bottom: 40px;
                    .titleCase{
                        margin-bottom: 5px;
                        width: 100%
                    }
                    .contentCase{
                        width: 100%;
                        font-size: 13px;
                        .skills > ul {
                            display: flex;
                            align-items: center;
                            padding-left: 0;
                            li{
                                list-style-type: none;
                                margin-bottom: 10px;
                                // &::after{
                                //     content: "";
                                //     width: 100px;
                                //     height: 2px;
                                //     background-color: #BCED09;
                                // }
                            }
                        }
                    }
                }
            }
        }
    }
}


