@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

$font-1: "Poppins", sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: $font-1;
}
li {
    list-style-type: none;
    text-align: center;
}
.containerTitleAllSite{
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contentTitleAllSite{
        height: 200px;
        display: flex;
        align-items: center;        
        background-color: #000;
        .titleAllSite{
            font-size: 7vw;
            text-transform: uppercase;
            color: #BCED09;
    
        }
    }
}
@media screen and (min-width:350px) and (max-width: 767px){
    .containerAllSite{
        overflow: hidden;
        .titleAllSite{
            font-size: 10vw;
        }
    }
}